*,
*::before,
*::after 
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
ul
{
    list-style: none;
}
:root 
{
    --main-color: rgb(80, 155, 180);
    --text1-color: #fff;
    --text-color: #000;
    --white: #ffffff;
    --blue: #003147;
    --light-blue: #e1e1e1;
}
body
{
    background: lightblue;
	width: 100%;
	font-family: 'ralewayregular';
}
.page-body
{
	max-width: 1200px;
    margin: 0 auto;
}
.left_side
{
    width: 40%;
    background-color: var(--blue);
    padding: 60px 50px 0 70px;
    color: var(--text1-color);
}
.right_side
{
    width: 60%;
    background-color: var(--white);
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    color: var(--text-color);
}
.main
{
    display: flex;
}
.title
{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.section
{
    padding-bottom: 10px;
    margin: 30px 0;
}
.date
{
    background-color: var(--main-color);
    color: var(--text1-color);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 10px;
}
.list
{
    padding-left: 30px;
}
.list__item
{
    position: relative;
    margin-bottom: 6px;
}
.list__item::before
{
    content: '';
    position: absolute;
    display: block;
    top: 6px;
    left: -15px;
    width: 8px;
    height: 8px;
    background-color: var(--main-color);
    border-radius: 50%;
}
.text
{
    padding-bottom: 10px;
}
header
{
    position: relative;
    width: 100%;
    max-width: 10500px;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    background: #003147; 
}
.button
{
    display: none;
}
.nav__list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav a
{
    padding: 14px 10px;
    line-height: 50px;
    color: white;
}
.nav a:hover
{
    background-color: lightblue;
}
.nav a:active
{
    color: white;
    text-decoration: none;
}
.profileText
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profileText .imgBx
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profileText h1
{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.profileText h2 span
{
  font-size: 0.8em;
  font-weight: 300;
  color: #ffff;
  text-align: center;
}
.contact__item
{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact__image
{
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.github
{
    background-image: url(https://img.icons8.com/color/344/github--v1.png);
}
.discord
{
    background-image: url(https://img.icons8.com/ultraviolet/344/discord-logo.png);
}
.telegram
{
    background-image: url(https://img.icons8.com/color/344/telegram-app--v1.png);
}
.email
{
     background-image: url(https://img.icons8.com/fluency/344/email-open.png);
}
.map
{
    background-image: url(https://img.icons8.com/fluency/344/map.png);
}
.linkedin
{
    background-image: url(https://img.icons8.com/ultraviolet/344/linkedin-circled--v1.png);
}
.phone
{
    background-image: url(https://img.icons8.com/ultraviolet/344/phone.png);
}
.contact__link
{
    color: var(--text1-color);
    text-decoration: none;
    transition: all .4s linear;
}
.contact__link:hover
{
    color: var(--main-color);
    text-decoration: underline;
}

.education__item
{
    margin-bottom: 40px;
}
.education__date
{
    margin-bottom: 10px;
}
.education__text
{
    font-weight: 600;
}

.skills__item
{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.skills__text
{
    width: 110px;
    margin-right: 15px;
    font-weight: 600;
}
.skills-list
{
    display: flex;
    align-items: center;
}
.skills-list__item
{
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-right: 5px;
    transition: all .3s linear;
}
.skills-list__item:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.skills-list__item:last-child
{
    margin-right: 0;
}
.skills-list__item_blue
{
    background-color: var(--light-blue);
}
.languages__item
{
    padding: 0 0 10px 15px;
    position: relative;
}
.languages__item:last-child
{
    padding: 0 0 0 15px;
}
.languages__item::before
{
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-right: 10px;
}
.work__item
{
    margin-bottom: 30px;
}
.work__head
{
    margin-bottom: 10px;
}
.work__info
{
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
}
.work__date
{
    margin-right: 10px;
    text-align: center;
}

.code_name
{
    font-weight: bold;
}
pre
{
margin: 0;
padding: 0;
font-size: 14px;
line-height: 14px;
}

footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 20px 60px 20px 60px;
    color: white;
    background-color: #003147;
}
.footer_github
{
    padding-left: 40px;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.footer_year
{
    color: #fff;
    justify-self: center;
}
.footer_rsschool
{
    justify-self: end;
    height: 32px;
}

@media (max-width: 900px)
{
    .left_side
    {
        padding: 0 20px;
    }
    .right_side
    {
        padding: 0 20px;
    }
}
@media (max-width: 768px)
{
    .work__info
    {
        flex-direction: column;
        align-items: baseline;
    }
    .work__date
    {
        margin-bottom: 5px;
    }
}
@media (max-width: 650px)
{
    .main
    {
        flex-direction: column;
    }
    .left_side
    {
        width: 100%;
    }
    .section
    {
        padding-bottom: 15px;
    }
    .title
    {
        padding-bottom: 15px;
    }
    .about
    {
        padding-top: 20px;
    }
}
@media (max-width: 510px)
{
    .header
    {
        flex-direction: column;
    }
}
@media (max-width: 380px)
{
    .education__item
    {
        margin-bottom: 20px;
    }
    .work__item
    {
        margin-bottom: 10px;
    }
}
